<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983113094049-8kvd4456hheh55sfp4533049ijk0rpgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983113094049-8kvd4456hheh55sfp4533049ijk0rpgs</string>
	<key>API_KEY</key>
	<string>AIzaSyBH8AuRC7ZsEUgTuswfw7IPt73EKs_ERsI</string>
	<key>GCM_SENDER_ID</key>
	<string>983113094049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ahmed.Rizk99</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios---13</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios---13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983113094049:ios:67ee6e3967edb723ef31e0</string>
</dict>
</plist>